.header {
  background-color: var(--clr-grey);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header__name {
  font-family: var(--ff-montserrat);
  font-size: var(--fs-medium);
}

.header__name:before {
  aspect-ratio: 1;
  background-image: url(../../img/icons/codes.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  content: "";
  display: inline-block;
  margin-right: 0.5rem;
  vertical-align: middle;
  width: 24px;
}
