@import url(hero-btn.css);

.hero {
  background-color: var(--clr-warm);
  border-bottom: 3px solid var(--clr-darkpurple);
  display: flex;
  flex-direction: column;
  font-family: var(--ff-montserrat);
  gap: 1rem;
  padding: 2rem 1rem;
}

.hero__box__call {
  font-size: var(--fs-normal);
}

.hero__box__title {
  font-size: var(--fs-large);
}
