.hero__btn {
  background-color: var(--clr-purple);
  border: none;
  box-shadow: 5px 5px 0px var(--clr-black);
  color: var(--clr-grey);
  cursor: pointer;
  font-family: var(--ff-montserrat);
  font-size: var(--fs-normal);
  font-weight: var(--fw-bold);
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  width: 100%;
  max-width: 300px;
}

.hero__btn:hover {
  background-color: var(--clr-darkpurple);
}

.hero__btn:active {
  transform: scale(0.98);
  box-shadow: 1px 1px 3px var(--clr-black);
}
