.hero {
  position: relative;
  height: calc(100vh - 84px);
}

.hero__box {
  background-color: var(--clr-secondary);
  text-align: center;
  position: absolute;
  top: 20%;
  left: 10%;
  max-width: 630px;
}

.hero__box__title {
  font-family: var(--ff-montserrat);
}

.hero__box__subtitle {
  font-size: var(--fs-normal);
}
