:root {
  --clr-primary: rgb(8, 217, 214);
  --clr-secondary: rgb(255, 46, 99);
  --clr-black: rgb(37, 42, 52);
  --clr-grey: rgb(234, 234, 234);

  --fs-large: 3.75rem;
  --fs-medium: 1.75rem;
  --fs-normal: 1.5rem;
  --fs-small: 0.75rem;
  --fs-smaller: 0.625rem;

  --ff-roboto: "Roboto", sans-serif;
  --ff-montserrat: "Montserrat", sans-serif;

  --fw-bold: 700;
  --fw-regular: 400;
  --fw-light: 300;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  overflow-x: hidden;
}

.visibility {
  visibility: collapse;
}
